<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Simple Login{% endblock %}</title>
</head>
<body>
  {% block sidebar %}<!-- insert default navigation text for every page -->
    <ul>
      {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        <li><a href="{% url 'signup'%}">Register</a></li>
      {% endif %}
    </ul>
  {% endblock %}
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>

</body>
</html>