{% extends "base_generic.html" %}
{% block content %}
    <form action="submit_cart" method="post">
      <div class="shopping-cart">
        <h3>Shopping Cart</h3>
        <ul>
          {% for food in shopping_cart_food %}
            <li>{{food}}</li>
          {% endfor %}

        </ul>

      </div>
      <input type="submit" value="Submit Cart" />
    </form>

    <form action="" method="post">
    {% csrf_token %}
    <div>

      {% for food in food_list %}
      <div>
         <input type="text" name="fooditem_{{food.id}}"
               minlength="1" maxlength="3" placeholder="enter quantity"/><a href="{{ food.get_absolute_url }}">{{ food.title }}</a>
      </div>
      {% endfor %}

    </div>
    <input type="submit" value="Submit" />
    </form>


{% endblock %}