{% extends "base_generic.html" %}
{% block content %}
    {% if user.is_authenticated %}
      <form action="" method="post">
      {% csrf_token %}
      <div>
        {% for food in food_list %}
        <div>
          <input class="food-quantity" type="text" name="fooditem_{{food.id}}"
          minlength="1" maxlength="3" placeholder="enter quantity"/>${{food.price}} <a href="{{ food.get_absolute_url }}">{{ food.title }}</a>
          toppings: {{food.choose_toppings}}
          {% if food.choose_toppings != 'NO' %}
            {% if food.choose_toppings == 'TWO' or food.choose_toppings == 'THREE' %}
              <select multiple name="select_{{food.id}}">
            {% else %}
              <select name="select_{{food.id}}">
            {% endif %}
              {% for topping in food_toppings %}
                <option value="{{topping}}">{{topping}}</option>
              {% endfor %}
            </select>

          {% endif %}
        </div>
        <br>
        {% endfor %}

      </div>
      <input type="submit" value="Submit" />
      </form>
    {% endif %}


{% endblock %}